/* header */
/* general */
$header-size: 500px;
/* logo */
$main-logo-size: 240px; /* automatically centers itself*/
$main-logo-left: $main-logo-size / 2; /* logo left value */
/* title card */
$header-title-size: 34px; /* title inside the bottom card */
$header-title-padding: 40px; /* title's top & bottom paddings*/
$header-card-size: $header-title-size + ($header-title-padding * 2); /* card-size */

* { 
	box-sizing: border-box;
}

body {
	margin: 0px;
}

nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	
	width: 100%;
	padding: 4px 15px;

	ul {
		margin: 0px; padding: 0px;

		.right-nav {
			float: right;
		
			li {
				clear: both;
				list-style: none;
				display: inline-block;
				padding: 5px 11px;

				a, a:link, a:visited, a:active {
					text-decoration: none;
					color: #555;
				}

				a:hover {
					color: #777;
				}
			}
		}
	}
}

header {
	position: relative;
	background-color: #ECF0F0;
	height: $header-size;

	font-family: 'Raleway', sans-serif;

	img {
		width: $main-logo-size;
		position: absolute;
		left: calc(50% - #{$main-logo-left});
		top: 100px;
	}

	.row {
		width: 100%;
		margin-top: $header-size / 2;

		&>div {
			float: left;
			width: 50%;
			height: $header-size / 2;
			padding: 0px 10%;

			&.right-container{
				text-align: right;
			}

			h2 {
				color: #C3585B;
				font-size: 34px;
				font-weight: normal;
				margin: 10px;
			}

			p{
				color: #777;
				font-size: 20px;
				margin: 10px;
			}
		

		}


	}

	.card-wrap{
		position: absolute;
		bottom: 0 - ($header-card-size / 2);
		width: 100%;
		text-align: center;

		.card {
			position: relative;
			width: 800px;
			margin: 0px auto;
			
			box-shadow: 3px 3px 15px #666;
			border: 1px solid #eee;
		
			h1 {
				font-size: $header-title-size;
				color: #333;
				font-weight: normal;
				background-color: white;
				padding: $header-title-padding 0px;
				margin: 0px;
			}
		}
	}
}