* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* smartphones */
@media (max-width: 768px) {
	body {
		font-size: 8px;
	}

	nav {
		display: none;
	}

	header img {
		top: 4em !important;
	}

	.row {
		margin-top: 18em !important;
	}

	.card h1 {
	  font-size: 1.8em !important;
	  padding-top: 1.643em !important;
	  padding-bottom: 1.643em !important;
	}

	.row,
	.card-wrap {
		padding: 0 3em !important;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	body {
		font-size: 12px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	body {
		font-size: 16px;
	}

	.card h1 {
	  font-size: 1.8em !important;
	  padding-top: 1.643em !important;
	  padding-bottom: 1.643em !important;
	}

	.row,
	.card-wrap {
		padding: 0 10em !important;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 16px;
	}

	.row,
	.card-wrap {
		padding: 0 12em !important;
	}
}

nav {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 0.875em;

	padding: 0.875em;

	.right-nav {
		margin: 0px;
		padding: 0px;
		float: right;

		li {
			clear: both;
			list-style: none;
			display: inline-block;
			padding-left: 0.875em;

			a, a:link, a:visited, a:active {
				text-decoration: none;
				color: #666;
			}

			a:hover {
				color: #888;
			}
		}
	}
}

header {
	position: relative;
	background-color: #ECF0F0;
	height: 31.250em;
	font-family: 'Raleway', sans-serif;

	/* margin-top fix */
	padding-top: 1px;
  margin-top: -1px;

	img {
		width: 12.5em;
		position: absolute;
		top: 5em;
		left: 50%;
	  margin-left: -6.75em;
	}

	.row {
		width: 100%;
		box-sizing: border-box;
		padding: 0 6em;
		margin-top: 17em;

		&>div {
			box-sizing: border-box;
			display: inline-block;
			width: 50%;

			&.right-container{
				text-align: right;
			}

			h2 {
				color: #C3585B;
				font-size: 1.813em;
				font-weight: 300;
				margin: 0.345em 0;
			}

			p {
				color: #777;
				font-size: 1.188em;
				margin: 0.345em 0;
			}
		}
	}

	.card-wrap {
		width: 100%;
		position: absolute;
		bottom: -3.75em;
		text-align: center;
		box-sizing: border-box;
		padding: 0 6em;

		.card {
			position: relative;
			width: 100%;

			box-shadow: 4px 4px 10px #666;
			border: 1px solid #ddd;

			h1 {
				color: #333;
				font-size: 2.250em;
				font-weight: 300;
				font-style: italic;
				background-color: white;
				padding: 1.167em 0.5em;
				margin: 0px;
			}
		}
	}
}

.left-container,
.right-container {
	font-weight: 300;
}

section.photo-section {
	img {
		width: 100%;
	}
}