/* Usage: @include border-radius(10px); */
/* Media Queries */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/* smartphones */
@media (max-width: 450px) {
  body {
    font-size: 8px; }

  nav {
    display: none; }

  header img {
    top: 4em !important; }

  .row {
    margin-top: 18em !important; }

  .card h1 {
    font-size: 1.8em !important;
    padding-top: 1.643em !important;
    padding-bottom: 1.643em !important; }

  .row,
  .card-wrap {
    padding: 0 3em !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 12px; } }
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    font-size: 16px; }

  .card h1 {
    font-size: 1.8em !important;
    padding-top: 1.643em !important;
    padding-bottom: 1.643em !important; }

  .row,
  .card-wrap {
    padding: 0 10em !important; } }
@media (min-width: 1200px) {
  body {
    font-size: 16px; }

  .row,
  .card-wrap {
    padding: 0 12em !important; } }
/* End media queries*/
body {
  font-family: 'Raleway', sans-serif; }

/* Start nav + session 1 (header)*/
nav {
  font-weight: 700;
  font-size: 0.875em;
  padding: 0.875em; }
  nav .right-nav {
    margin: 0px;
    padding: 0px;
    float: right; }
    nav .right-nav li {
      clear: both;
      list-style: none;
      display: inline-block;
      padding-left: 0.875em; }
      nav .right-nav li a, nav .right-nav li a:link, nav .right-nav li a:visited, nav .right-nav li a:active {
        text-decoration: none;
        color: #666; }
      nav .right-nav li a:hover {
        color: #888; }

header {
  position: relative;
  background-color: #ECF0F0;
  height: 31.250em;
  /* margin-top fix */
  padding-top: 1px;
  margin-top: -1px; }
  header img {
    width: 12.5em;
    position: absolute;
    top: 5em;
    left: 50%;
    margin-left: -6.75em; }
  header .row {
    width: 100%;
    box-sizing: border-box;
    padding: 0 6em;
    margin-top: 17em; }
    header .row > div {
      box-sizing: border-box;
      display: inline-block;
      width: 50%; }
      header .row > div.right-container {
        text-align: right; }
      header .row > div h2 {
        color: #C3585B;
        font-size: 1.813em;
        font-weight: 300;
        margin: 0.345em 0; }
      header .row > div p {
        color: #777;
        font-size: 1.188em;
        margin: 0.345em 0; }
  header .card-wrap {
    width: 100%;
    position: absolute;
    bottom: -3.75em;
    text-align: center;
    box-sizing: border-box;
    padding: 0 6em; }
    header .card-wrap .card {
      position: relative;
      width: 100%;
      box-shadow: 4px 4px 10px #666;
      border: 1px solid #ddd; }
      header .card-wrap .card h1 {
        color: #333;
        font-size: 2.250em;
        font-weight: 300;
        font-style: italic;
        background-color: white;
        padding: 1.167em 0.5em;
        margin: 0px; }

.left-container,
.right-container {
  font-weight: 300; }

/* First session end */
/* Photo section*/
section.photo-section img {
  width: 100%; }

/*section preset*/
section.clean {
  background-color: white;
  padding: 4em 4em 2em 4em;
  margin: 0 auto;
  color: #555; }
  section.clean h2 {
    font-weight: 400;
    font-size: 2em; }
  section.clean h3 {
    font-weight: 400;
    margin: .5em; }

/*guests section*/
/*schedule section*/
section#schedule {
  background-color: #F9F8EC; }
  section#schedule div.card {
    background-color: white;
    width: 80%;
    margin: 2em auto;
    border: 1px solid #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 3px 4px #aaa; }
    section#schedule div.card .card-content {
      padding: 2em 2.5em; }
      section#schedule div.card .card-content h4 {
        font-weight: 400;
        font-size: 1.4em; }
      section#schedule div.card .card-content:first-child {
        border-bottom: 1px solid #eee; }
      section#schedule div.card .card-content .icon {
        width: 40px;
        float: left; }
        section#schedule div.card .card-content .icon i {
          font-size: 1.3em; }
      section#schedule div.card .card-content .events-wrap {
        float: left;
        width: calc(100% - 40px); }
        section#schedule div.card .card-content .events-wrap .event-line > * {
          float: left; }
        section#schedule div.card .card-content .events-wrap .event-line .time {
          width: 9em; }
          section#schedule div.card .card-content .events-wrap .event-line .time p {
            text-align: right;
            letter-spacing: -0.01em;
            color: #888; }
        section#schedule div.card .card-content .events-wrap .event-line .description {
          padding-left: 1.3em;
          width: calc(100% - 10.3em);
          font-weight: 300; }
          section#schedule div.card .card-content .events-wrap .event-line .description .title {
            letter-spacing: 0.01em; }
          section#schedule div.card .card-content .events-wrap .event-line .description .hidden {
            display: none; }
          section#schedule div.card .card-content .events-wrap .event-line .description .guest {
            margin: .4em 0;
            text-transform: uppercase;
            letter-spacing: 0.01em;
            font-size: .8em;
            font-weight: 400;
            color: #888; }
        section#schedule div.card .card-content .events-wrap .event-line:not(:first-child) {
          margin-top: 1.2em; }

/*# sourceMappingURL=style.css.map */
